.center  {
  float: right; 
  background-color:#FFFFFF ; 
  width: 78%; 
  height: 78%; 
  margin-right: -10px; 
  margin-top: 10%; 
  
}

.top  {
  height:20%; 
  width:100%; 
  margin:-10px;
  position: fixed;
  background-color: #FFCC99; 


}

.top a {
  color: #000000;  
  margin-top: 20px;
  font-size: 40px;
  margin-left: 10%;
  text-decoration:none;
  
}


.navbar {
   
  position: fixed; 
  height: 80%; 
  width:20%;
  background-color: #000000;
  margin-top: 10%; 
  margin-left: -10px; 
}

.navbar ul {
 margin-top: 15%;  

}

.navbar li  {
  margin-left: 5%; 
  margin-top: 20px;
  margin-bottom: 60px;
  list-style-type: none; 
  color:;#FFCCCC;
  font-size: 24px;
   
}

.navbar a {
  text-decoration: none;
  color:#FFCCCC;
}


.navbar a:hover {
  color: #FFFFFF;
}

.navbar a:visited {
  color: #E6B8B8;

}
