.center  {
  background-color:#FFFFFF ;
  width: 40%;
  height: 1000px; 
  margin-right: -10%; 
  margin-left:20%;
  margin-top: 13%; 
  border: 5px black solid ;
  
}

.center img {
  
  width=40%; 
}

.top  {
  height:20%; 
  width:100%; 
  margin-top:-20px;
  margin-left:-10px;
  margin-right:-10px;
  position: fixed;
  background-color: #FFCC99; 
  border: 5px black solid; 

}


.top a {
  color: #000000;  
  font-size: 60px;
  text-decoration:none;
  
}

.top p {
  margin-top: 2%;
  margin-left: 5%;
  margin-right: 5%;
  
}


.navbar {
   
  position: fixed; 
  height: 80%; 
  width:20%;
  background-color: #000000;
  margin-top: 10%; 
  margin-left: -10px; 
}

.navbar ul {
 margin-top: 15%;  

}

.navbar li  {
  margin-left: 5%; 
  margin-top: 20px;
  margin-bottom: 60px;
  list-style-type: none; 
  color:;#FFCCCC;
  font-size: 24px;
   
}

.navbar a {
  text-decoration: none;
  color:#FFCCCC;
}


.navbar a:hover {
  color: #FFFFFF;
}

.navbar a:visited {
  color: #E6B8B8;

}
